@font-face {
  font-family: 'medula_oneregular';
  src: url('../assets/font/medulaone-regular.eot');
  src: url('../assets/font/medulaone-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/font/medulaone-regular.woff2') format('woff2'),
       url('../assets/font/medulaone-regular.woff') format('woff'),
       url('../assets/font/medulaone-regular.ttf') format('truetype'),
       url('../assets/font/medulaone-regular.svg#medula_oneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'libre_baskervilleregular';
  src: url('../assets/font/librebaskerville-regular.eot');
  src: url('../assets/font/librebaskerville-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/font/librebaskerville-regular.woff2') format('woff2'),
       url('../assets/font/librebaskerville-regular.woff') format('woff'),
       url('../assets/font/librebaskerville-regular.ttf') format('truetype'),
       url('../assets/font/librebaskerville-regular.svg#libre_baskervilleregular') format('svg');
  font-weight: normal;
  font-style: normal;
}