// container
.container {
  margin-top: 8vh;
  overflow: scroll;
  height: 92vh;
  scroll-behavior: smooth;
  background: url(../assets/img/background.webp);
}

// Background header
.container__background {
  background: no-repeat url(../assets/img/header.webp);
  background-size: cover;
  height: 60vh;
  background-position: center;
}
