// main
#fonc {
  height: 3.125rem;
}
#monde {
  height: 3.125rem;
}
#diff {
  height: 3.125rem;
}

// article
.main__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.9375rem;
  line-height: 1.875rem;
}
.main__article--noPadding {
  padding: 0;
}
.main__articleSummary {
  margin-bottom: 0.9375rem;
}
.main__articleGoal {
  margin-bottom: 2.5rem;
}
.main__articleBackground {
  background: no-repeat url(../assets/img/sheikah-bg.webp);
  background-position: center;
  background-size: 100%;
  margin-bottom: 2.1875rem;
  position: relative;
}
.main__articleBackground::before {
  content: "";
  width: 60%;
  height: 60%;
  background: radial-gradient(
    ellipse at center,
    #90d7ed -10%,
    #008aae 40%,
    #008aae 60%,
    rgba(0, 138, 174, 0) 70%
  );
  top: 20%;
  left: 20%;
  position: absolute;
  z-index: -999;
}
.main__articleTablet {
  padding: 0 0.9375rem 0.9375rem;
  margin-bottom: 2.1875rem;
}
.main__articleDifficulty {
  margin-bottom: 0.625rem;
  text-align: left;
}
.main__articleDifficulty h2 {
  text-align: left;
}
.main__articleDifficulty p:last-of-type {
  margin-top: 0.625rem;
}
.main__articleDifficulty--Inverse {
  text-align: right;
}
.main__articleDifficulty--Inverse h2 {
  text-align: right;
}

// section
.main__section {
  padding: 0.9375rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 1.875rem;
  text-align: center;
}
.main__sectionExplanation {
  margin-bottom: 2.5rem;
}

// prodigies
.main__prodigies {
  transform: skew(-5deg) rotate(-5deg);
  width: 99.8%;
}
.main__prodigiesBanner {
  background: url(../assets/img/divider-content.png);
  height: 1.875rem;
  margin: 1.25rem 0;
}
.main__prodigiesImage {
  background-color: #f5d9ad;
  display: flex;
  justify-content: center;
}
